{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <div class="card mb-3 user-card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{user.img_url}}" class="img-fluid rounded-start" alt="User image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h2 class="card-title">{{user.get_full_name()}}</h2>
                          <p class="card-text">User Info...</p>
                          <a class="btn btn-primary user-edit" href="/users/{{user.id}}/edit" role="button">Edit</a>
                          <form class="form-user-delete" action="/users/{{user.id}}/delete" method="post">
                            <button type="submit" class="btn btn-danger user-delete">Delete</button>
                          </form>
                          <a class="btn btn-outline-secondary user-list" href="/users" role="button">Return to Users</a>
                        </div>
                      </div>
                    </div>
                </div>          
            </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="user-posts">
              <h4>Posts</h4>
              <ul class="list-group list-group-flush">
                {% if posts %}
                  {% for post in posts %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <a href="/posts/{{post[0]}}">{{post[1]}}</a>
                    </div>
                    <span class="badge bg-primary rounded-pill">{{post.created_at.strftime('%m-%d-%Y')}}</span>
                  </li>
                  {% endfor %}
                {% else %}
                  <li class="list-group-item">No Posts Available</li>
                {% endif %}
                
              </ul>
              <a class="btn btn-primary post-add mt-3" href="/users/{{user.id}}/posts/new" role="button">Add Post</a>
            </div>
          </div>
        </div>
    </div>
{% endblock %}